@use '../../styles/globals' as *;

.years {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: $z-index-overlay;

  .yearsItem {
    position: absolute;
    font-size: $font-size-huge;
    font-weight: $font-weight-bold;
    color: $primary-color;
    line-height: 1;
    @include flex-center;
  }

  .min-year {
    top: 50%;
    left: 0;
    transform: translate(-55%, -50%);
    color: $accent-purple;
  }

  .max-year {
    top: 50%;
    right: 0;
    transform: translate(55%, -50%);
    color: $accent-pink;
  }

  @include responsive(mobile) {
    position: static;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: $spacing-lg;
    justify-content: center;
    gap: 30px;


    .yearsItem {
      position: static;
      font-size: $font-size-xxl;
      transform: none !important;
    }

    .min-year,
    .max-year {
      top: auto;
      left: auto;
      right: auto;
      transform: none;
    }
  }
}