:root {
    --font-bebas-neue: 'Bebas Neue', sans-serif;
    --font-pt-sans: 'PT Sans', sans-serif;
    --color-primary: #42567A;
    --color-accent: #EF5DA8;
    --color-secondary: #3877EE;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    background: #F4F5F9;
    font-family: var(--font-pt-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; // Убираем скролл у body
}